body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 16px;
}

form {
    margin: 0 auto;
}

form > h1 {
    border-bottom: 1px solid #E5E5E5;
    font-size: 1.2em;
    line-height: 2.5em;
    margin-bottom: 1em;
    text-align: center;
    width: 100%;
}

fieldset {
    border: none;
}

input {
    display: inline-block;
    vertical-align: center;
}

input:required:invalid,
input:focus:invalid,
input:required:valid {
    background-position: 97.5% center;
    background-repeat: no-repeat;
}

input:required:invalid,
input:focus:invalid {
    background-image: url("http://i.imgur.com/NSaK8yt.png");
}

input:required:valid {
    background-image: url("http://i.imgur.com/ttb7yp4.png");
}

input[type=submit],
input[type=button] {
    background: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    border: 1px solid #999;
    margin: 4px 10px;
    padding: 5px;
    width: 100px;
}

input[type=submit],
input[type=button]
:hover {
    cursor: pointer;
}

input[type=submit],
input[type=button]
:active {
    background: #D4D4D4;
}

input[type=submit],
input[type=button] {
    background: linear-gradient(to bottom, #0088CC, #0044CC);
    border: 1px solid #0088CC;
    color: #FFF;
}

input[type=submit],
input[type=button]:active {
    background: #0044CC;
}

input[type=search]{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
}

select,
input[type*=date],
input[type=text],
input[type=password],
input[type=number]{
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    width: 160px;
}

select:focus,
input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    border-radius: 5px;
    box-shadow: inset
                0
                1px 1px
                rgba(0, 0, 0, 0.075),
                0 0 8px
                rgba(82, 168, 236, 0.6);
    outline: 0;
}

.control-group {
    margin: 10px 0;
}

.control-group > label {
    display: inline-block;
    text-align: left;
    width: 20%;
}