#kanan {
    width:310px;
    margin-top:30px;
    min-height:510px;
    position:relative;
    display:block;
    float:left;
}
#menu_vertikal {
    position:absolute;
    width:310px;
    height:260px;
    display:block;
    border:1px solid black;
    background-color:brown;
    color:gold;
    line-height:30px;
    text-align:center;
}
#menu_vertikal li {
    list-style-type:none;
    text-align:left
}
#menu_vertikal li a {
    text-decoration:none;
    widht:175px;
    background-color:white;
    display:block;
    border-top:2px solid black;
    padding:.2em .8em;
    color: black;
}
#menu_vertikal ul {
    padding:0px;
    margin-top:8px;
}
#menu_vertikal li a:hover {
    background-color:red;
    color:white;
}
